{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails of {{ wish.title }}</h1>
    <h3>{{ wish.author }}</h3>
    <p>{{ wish.description }} : {{ wish.createdDate | date('Y-m-d') }}</p>
    <p>Catégorie : {{ wish.category.name }}</p>
{% endblock %}

{% block title %}
{{ parent() }} | Details
{% endblock %}

