<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bucket {% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="logoBucket"></a></h1>
        {{ include('menu/nav.html.twig') }}
    </header>
    <main>
        {% block body %}
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias deserunt dolores est facilis iste, laborum magni veniam! Alias beatae, cupiditate debitis delectus iste quis repellat reprehenderit sit voluptatem voluptatum.</h2>
        {% endblock %}
    </main>
    <footer>
        <p>&copy;BucketList {{ "now" |date('Y') }}</p>
    </footer>
</div>
</body>
</html>