<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutus') }}">About us</a></li>
        <li><a href="{{ path('wish_list') }}">WishList</a></li>
        {% if (app.user == null) %}
        <li><a href="{{ path('app_login') }}">Login</a></li>
        <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
        {% if (app.user) %}
            <li><a href="{{ path('wish_addWish') }}">AddWish</a></li>
            <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.userIdentifier }})</a></li>
        {% endif %}

    </ul>
</nav>
